@model Category

@{
    ViewData["Title"] = "Create a New Category";
}

<!-- Create new Category Form-->
<div class="container-fluid px-3 px-md-5">
    <div class="card shadow-sm p-4 rounded mx-auto"
         style=" box-shadow: 0 0 10px 2px black !important;
         background: linear-gradient(90deg,rgba(193, 232, 193, 0.63) 0%, rgba(155, 171, 155, 0.88) 50%, rgba(163, 247, 163, 0.56) 100%);   ">

        <h1 class="mb-4 text-black text-center">Create a New Category</h1>

        <form asp-action="Create" asp-controller="Category" method="post">
            <div class="row g-4">

                <div class="col-12 col-md-6">
                    <label asp-for="Name" class="form-label fw-bold fs-4 text-primary">Category Name</label>
                    <input asp-for="Name" class="form-control rounded-3 fs-5 text-black" placeholder="Enter category name">
                    <span asp-validation-for="Name" class="text-danger fw-bold mt-2 d-block fs-5"></span>
                </div>

                <div class="col-12 col-md-6">
                    <label asp-for="DisplayOrder" class="form-label fw-bold fs-4 text-primary">Display Order</label>
                    <input asp-for="DisplayOrder" class="form-control rounded-3 fs-5 text-black" placeholder="Enter display order">
                    <span asp-validation-for="DisplayOrder" class="text-danger fw-bold mt-2 d-block fs-5"></span>
                </div>

            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-success px-5 py-3 rounded-3 fs-5">
                    <i class="bi bi-plus-circle me-2"></i> Create Category
                </button>               
            </div>
        </form>
    </div>
    <div class="text-end mt-4">
            
        <a class="btn btn-outline-primary px-5 py-3 rounded-3 fs-5" asp-action="Index" >Back To Categories List</a>
    </div>

</div>

<!-- This validation message only appears if the model is invalid or data is missing.
     Normally it should never happen, but it's here as a safety check. -->
@if (ViewBag.Message != null)
{
    <div class="alert alert-warning text-center fs-5 fw-bold">
        @ViewBag.Message
    </div>
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger mt-3">
        Please correct the errors below before submitting the form.
    </div>
}


<!-- For Allow JS For DataAnnotation Validation -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

